

button{
  padding:0.5rem 1rem;
  border:none;
  border-radius:0.5rem;
  cursor:pointer;
  margin: 0.5rem;
}
.blue{
  background-color:rgb(69, 69, 177);
  color:rgb(243, 243, 247);
}
.red{
  background-color:rgb(194, 128, 128);
  color:rgb(245, 238, 238)

}
.container{

  background-color:aliceblue;
  margin: 2% 30%;
  border-radius:1rem;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}